{% extends 'base.html' %}

{% block title %}Level 3{% endblock %}

{% block level3 %}
    <li class="nav-item" role="presentation">
        <a href="{% url 'level' '3' %}"><button class="nav-link active" id="n3-tab" data-bs-toggle="tab" data-bs-target="#n3" type="button" role="tab" aria-controls="n3" aria-selected="false">Level 3</button></a>
    </li>
{% endblock %}

{% block tab_3 %}
    <div class="tab-pane fade show active" id="n3" role="tabpanel" aria-labelledby="n3-tab">Level 3</div>
{% endblock %}

{% block body %}
    <section class='page'>
        <ul>
            {% for kanji in all_kanji %}
                {% if kanji.level == 3 %}
                    <a href="{% url 'kanji_detail' kanji.pk %}"><li>{{ kanji.character }}</li></a>
                {% endif %}
            {% endfor %}
        </ul>
    </section>
{% endblock %}