{% extends 'base.html' %}
{% load static %}

{% block title%}Delete{% endblock %}

{% block design %}
<link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css" integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
<link rel="stylesheet" href="{% static 'kanji_quiz/delete.css' %}">
{% endblock %}

{% block body %}
<div class="center-column">

    <form action="" method='POST'>
        {% csrf_token %}
        <h2>Are you sure you want to delete "{{ kanji_row.character }}" ?</h2>
        <a href="{% url 'kanji_detail' kanji.id %}"><input class="btn btn-info" value='Back'></a>
        <input class="btn btn-info" type="submit" name="Create Task">
    </form>


	{% comment %} <div class="list">

	{% for task in tasks %}
		<div class="item-row">
			<a class="btn btn-sm btn-info" href="{% url 'update' task.id %}">Update</a>
			<a class="btn btn-sm btn-danger" href="{% url 'delete' task.id %}">Delete</a>

			{% if task.complete == True %}
			<strike>{{task}}</strike>
			{% else %}
			<span>{{task}}</span>
			{% endif %}
		</div>
	{% endfor %}
	</div> {% endcomment %}
</div>
{% endblock %}






