{% extends 'base.html' %}
{% load static %}

{% block design %}
    <link rel="stylesheet" href="{% static 'kanji_quiz/form.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block title%}Home{% endblock %}

{% block home %}
<li class="nav-item" role="presentation">
    <a href="{% url 'index' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button></a>
</li>
{% endblock %}

{% block tab_home %}
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
{% endblock %}

{% block body%}
<div class="modal-dialog modal-fullscreen-sm-down" id="exampleModalToggle" aria-hidden="true" aria-labelledby="exampleModalToggleLabel" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel">Modal 1</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Show a second modal and hide this one with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle2" data-bs-toggle="modal">Open second modal</button>
      </div>
    </div>
  </div>
</div>
<div class="modal fade" id="exampleModalToggle2" aria-hidden="true" aria-labelledby="exampleModalToggleLabel2" tabindex="-1">
  <div class="modal-dialog modal-dialog-centered">
    <div class="modal-content">
      <div class="modal-header">
        <h5 class="modal-title" id="exampleModalToggleLabel2">Modal 2</h5>
        <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
      </div>
      <div class="modal-body">
        Hide this modal and show the first with the button below.
      </div>
      <div class="modal-footer">
        <button class="btn btn-primary" data-bs-target="#exampleModalToggle" data-bs-toggle="modal">Back to first</button>
      </div>
    </div>
  </div>
</div>
<a class="btn btn-primary" data-bs-toggle="modal" href="#exampleModalToggle" role="button">Open first modal</a>


    <section class='page'>
        <ul>
            {% for kanji in all_kanji %}
                <a href="{% url 'kanji_detail' kanji.pk %}"><li>{{ kanji.character }}</li></a>
            {% endfor %}
        </ul>
    </section>
    

    
    <div class="container-fluid my_form">
        <form action="/" method='POST' class="login-form" autocomplete="off">
            {% csrf_token %}
           
            {% for field in kanji_form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}            
            {% endfor %}
     
            {% for field in portuguese_form %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <div class="d-grid gap-2 col-6 mx-auto form-input-material">
                <button type="submit" class="btn btn-primary btn-ghost my_button">Add</button>
            </div>
        </form>
        
    </div>


{% endblock %}
   