{% extends 'base.html' %}

{% block title%}Home{% endblock %}

{% block home %}
<li class="nav-item" role="presentation">
    <a href="{% url 'index' %}"><button class="nav-link active" id="home-tab" data-bs-toggle="tab" data-bs-target="#home" type="button" role="tab" aria-controls="home" aria-selected="true">Home</button></a>
</li>
{% endblock %}

{% block tab_home %}
    <div class="tab-pane fade show active" id="home" role="tabpanel" aria-labelledby="home-tab">Home</div>
{% endblock %}

{% block body%}
    <section class='page'>
        <ul>
            {% for kanji in all_kanji %}
                <a href="{% url 'kanji_detail' kanji.pk %}"><li>{{ kanji.character }}</li></a>
            {% endfor %}
        </ul>
    </section>
{% endblock %}
   