{% extends 'base.html' %}
{% load static %}

{% block design %}
    <link rel="stylesheet" href="{% static 'kanji_quiz/form.css' %}">
    <link rel="stylesheet" href="{% static 'base.css' %}">
{% endblock %}

{% block title%}Update{% endblock %}

{% block body%}
    <div class="container-fluid my_form">
        <form action="" method='POST' class="login-form">
            {% csrf_token %}
           
            {% for field in form_kanji %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}            
            {% endfor %}
     
            {% for field in form_portuguese %}
                {{ field.label_tag }}
                {{ field }}
                {{ field.errors }}
            {% endfor %}
            <div class="d-grid gap-2 col-6 mx-auto form-input-material">
                <button type="submit" class="btn btn-primary btn-ghost my_button">Update</button>
            </div>
        </form>
    </div>

{% endblock %}