<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class='container'>
        <ul class="list-group">
            {% for server in servers_obj %}
                <li class="list-group-item list-group-item-secondary">{{server.server_name}}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

