body{
	margin: 0px;
	padding: 0px;
	background: #f1f1f1;
	font-family: arial;
	box-sizing: border-box;
}
.card-container{
	width: 700px;
	height: 430px;
	background: #FFF;
	border-radius: 6px;
	position: absolute;
	top: 50%;
	left: 50%;
	transform: translate(-50%,-50%);
	box-shadow: 0px 1px 10px 1px #000;
	overflow: hidden;
	display: inline-block;
}
.upper-container{
	height: 30px;
	background: #48bb48;
}

.lower-container{
	height: 280px;
	background: #FFF;
	padding: 20px;
	padding-top: 60px;
	text-align: center;
}
.lower-container h1, h3{
	box-sizing: border-box;
	line-height: .6;
	font-weight: lighter;
}
.lower-container h3{
	color: #1ab71a;
	opacity: .6;
	font-weight: bold;
}
.lower-container p{
	font-size: 18px;
	color: gray;
	margin-bottom: 100px;
  padding-top: 30px;
}
.lower-container .btn{
	padding: 12px 20px;
	background: #1ab71a;
	border: none;
	color: white;
	border-radius: 30px;
	font-size: 12px;
	text-decoration: none;
	font-weight: bold;
	transition: all .3s ease-in;
}
.lower-container .btn:hover{
	background: transparent;
	color: #1ab71a;
	border: 2px solid #1ab71a;
}