<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Infrastructure</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class='container'>
        <ul class="list-group">
            {% for instance in all_instances %}
                <li class="list-group-item list-group-item-secondary"><a href="{% url 'instance_view' instance.instance_name %}" class="list-group-item list-group-item-action">{{ instance.instance_name }}</a></li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>

