<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Home</title>
    <link rel="stylesheet" href="static/css/style.css">
    <link rel="stylesheet" href="static/css/bootstrap.css">
</head>
<body>
  <div class='container'>
    <nav>
        <ul>
          <li><a href="#">Activity</a></li>
          <li><a href="#">Job Requests</a></li>
          <li><a href="/admin">Admin</a></li>
          <li><a href="/applications/requestlorappupgrade/">Lorenzo</a></li>
          <li><a href="/applications/requestipmappupgrade/">iPm</a></li>
        </ul>
      </nav>
  </div>  
</body>
</html>