<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Lorenzo</title>
    <link rel="stylesheet" href="/static/css/style.css">
    <link rel="stylesheet" href="/static/css/bootstrap.css">
</head>
<body>
    <div class='container'>
        <ul>
            {% for server in instance_lorenzo %}
                <h2>Instance name: {{server.instance_name}}</h2>
                <li>Server_name: {{ server.server_name }}, Status: {{ sever.status }} Application: {{ server.application }}, Application_version: {{ server.application_version }}, Start_datetime: {{ server.start_datetime }}, End_datetime: {{ server.end_datetime }}, Description: {{ server.description }}</li>
            {% endfor %}
        </ul>
    </div>
</body>
</html>